<div>
    <h1 class="display-1" style="text-align: center;">Assign Players</h1>
</div>
<hr>
<c-row>
    <c-col [md]="2"></c-col>
    <c-col [md]="8">
        <label cLabel for="">Choose Team</label>
        <select cSelect id="autoSizingSelect" [(ngModel)]="selectedTeam._id" (ngModelChange)="myFunc(selectedTeam)">
            <option value="Choose Team" ng-reflect-value="Choose Team" selected disabled>Choose Team</option>
            <option *ngFor="let value of teamObj" value="{{value.id}}" >{{value.name}}
                <!-- <ng-container *ngIf="value!=null"></ng-container> -->
            </option>
        </select>
    </c-col>
    <c-col [md]="2"></c-col>
</c-row>

<c-row *ngIf="selectedTeam._name" class="mt-4">
    <c-col xs>
        <c-card class="mb-4">
            <c-card-header>Add Players in Team: <b>{{selectedTeam._name}}</b> </c-card-header>
            <c-card-body>
                <!-- [(ngModel)]="searchText" -->
                <input class="form-control" type="text" placeholder="Search" [(ngModel)]="searchText">
                <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
                    <thead cTableColor="light">
                        <tr>
                            <!-- <th class="text-left">
                                <svg cIcon name="cilPeople"></svg>
                            </th> -->
                            <th></th>
                            <th class="text-center">First Name</th>
                            <th class="text-center">Last Name</th>
                            <th class="text-center">Division</th>
                            <th class="text-center">Age</th>
                            <th class="text-center">Status</th>


                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- | search: searchText" -->
                        <tr *ngFor="let p of Obj | search: searchText">
                            <ng-container *ngIf="p != undefined">
                                <td></td>
                                <td class="text-center">
                                    <div>{{ p.firstName }}</div>
                                    <!-- <c-avatar size="md" src="{{ user.avatar }}"></c-avatar> -->
                                </td>
                                <td class="text-center">
                                    <div>{{ p.lastName }}</div>
                                </td>
                                <td class="text-center">
                                    <div>{{ p.divisionName }}</div>
                                </td>
                                <td class="text-center">
                                    <div>{{ p.age }}</div>
                                </td>
                                <td class="text-center">
                                    <div>{{ p.status }}</div>
                                </td>
                                <td></td>
                                <td>
                                    <button (click)="toggleModal(p,Obj.indexOf(p))" style="background-color:transparent; border: transparent;" cButton>
                                    <!-- <i class="fa fa-eye "></i> -->
                                    <!-- <i class="cil-eye"></i> -->
                                    <img src="assets/img/brand/eye.png" width="20" height="20">
                                </button>
                                    <!-- <a href="/#/register-team "><i class="fa fa-eye "></i></a> -->
                                    <!-- <i class="fa fa-eye "></i> -->
                                </td>
                            </ng-container>
                        </tr>
                    </tbody>
                </table>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>

<c-modal id="liveDemoModal" alignment="center" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)">
    <c-modal-header>
        <h4 *ngIf="visible" cModalTitle>Fooseball Player: {{selectedPlayer.firstName}}</h4>
        <button (click)="toggleModalAgain_close()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <div style="display: flex;
        justify-content: center;" class="mb-4">
            <img src="assets/img/brand/athlete.png" width="150" height="150" alt="Picture of Theodore Roosevelt">
        </div>
        <div>
            <h2 *ngIf="visible">{{selectedPlayer.firstName}}</h2>
            <h5 *ngIf="visible"><i>{{selectedPlayer.skill}}</i></h5>
        </div>

        <br>
        <h6 *ngIf="visible">Are you sure you want to add <b>{{selectedPlayer.firstName}}</b> to <b>{{selectedTeam._name}} ?</b></h6>
        <!-- <div class="row">
            <div class="column">
                <div class="details">
                    <div class="rating">
                        <h6 class="primary-text"> 15 </h6>
                        <h6 class="secondary-text"> Matches </h6>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="details">
                    <div class="rating">
                        <h6 class="primary-text"> 18 </h6>
                        <h6 class="secondary-text"> Points </h6>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="details">
                    <div class="rating">
                        <h6 class="primary-text"> 18th </h6>
                        <h6 class="secondary-text"> Rank </h6>
                    </div>
                </div>
            </div>
        </div> -->
    </c-modal-body>
    <c-modal-footer>
        <button (click)="toggleModalAgain(selectedPlayer)" cButton color="primary"> 
        Add
      </button>

    </c-modal-footer>
</c-modal>