<div>
    <h1 class="display-1" style="text-align: center;">Register Players</h1>
</div>
<hr>
<br><br>
<c-row class="mb-3">
    <c-col [md]="9">
        <form cForm class="row g-3">
            <c-col [md]="4">
                <label cLabel for="firstName">First Name</label>
                <input cFormControl id="firstName" type="text" [(ngModel)]="playerObj.firstName" [ngModelOptions]="{standalone: true}">
            </c-col>
            <c-col [md]="4">
                <label cLabel for="lastName">Last Name</label>
                <input cFormControl id="lastName" type="text" [(ngModel)]="playerObj.lastName" [ngModelOptions]="{standalone: true}">
            </c-col>
            <c-col [md]="4">
                <label cLabel for="Age">Age</label>
                <input cFormControl id="Age" type="number" [(ngModel)]="playerObj.age" [ngModelOptions]="{standalone: true}">
            </c-col>
            <!--  <c-col [md]="12"> -->
            <!--<label cLabel for="">Choose Division</label>
            </c-col> -->
            <c-col [md]="9" *ngIf="isSelectedDiv == false">
                <label cLabel for="">Choose Division</label>
                <select cSelect id="autoSizingSelect" [(ngModel)]="selectedDivision.id" (change)="myFunction(selectedDivision)" [ngModelOptions]="{standalone: true}">
                        <option value="Select Division" value="-1" selected disabled>Select Division</option>
                        <option *ngFor="let value of Obj" value="{{value.id}}" >{{value.divisionName}}</option>
                    </select>
            </c-col>
            <c-col [md]="9" *ngIf="isSelectedDiv == true">
                <label cLabel for="">Choose Division</label>
                <select cSelect id="autoSizingSelect" [(ngModel)]="selectedDivision.id" (change)="myFunction(selectedDivision)" [ngModelOptions]="{standalone: true}">
                        <option value="Select Division" >Select Division</option>
                        <option *ngFor="let value of Obj" value="{{value.id}}" [selected] = "true" >{{value.divisionName}}</option>
                    </select>
            </c-col>
            <c-col [md]="3">
                <div class="row mb-2"></div>
                <div class="row mb-2"></div>
                <div class="row mb-2"></div>
                <div class="row mb-2"></div>
                <div style="text-align: right;">
                    <button class="w-100" id="btndiv" (click)="addNewDivision()" cButton color="secondary">
                    Add new division
                  </button>
                </div>
            </c-col>
            <c-col [xs]="10">
                <fieldset class="row mb-3">
                    <legend cLabel="col" cCol [sm]="2" class="pt-0">Player Type</legend>
                    <c-col [sm]="10">
                        <c-form-check>
                            <input cFormCheckInput checked id="gridRadios1" name="gridRadios" type="radio" value="1" [(ngModel)]="playerObj.playerSkills.id" [ngModelOptions]="{standalone: true}">
                            <label cFormCheckLabel for="gridRadios1">Attacker</label>
                        </c-form-check>
                        <c-form-check>
                            <input cFormCheckInput id="gridRadios2" name="gridRadios" type="radio" value="2" [(ngModel)]="playerObj.playerSkills.id" [ngModelOptions]="{standalone: true}">
                            <label cFormCheckLabel for="gridRadios2">Defender</label>
                        </c-form-check>
                        <!-- <c-form-check>
                            <input cFormCheckInput id="gridRadios3" name="gridRadios" type="radio" value="AllRounder" [(ngModel)]="playerObj.playerSkills.style" [ngModelOptions]="{standalone: true}">
                            <label cFormCheckLabel for="gridRadios3">All rounder</label>
                        </c-form-check> -->
                    </c-col>
                </fieldset>
            </c-col>
            <!-- <c-col [xs]="12">
                <c-form-check>
                    <input cFormCheckInput id="gridCheck" name="gridCheck" type="checkbox" [checked]="your_property" (change)="your_property = !your_property" />
                    <label cFormCheckLabel for="gridCheck">Assign Team later</label>
                </c-form-check>
            </c-col>
            <c-col [md]="10">
                <select *ngIf="!your_property" cSelect id="autoSizingSelect">
                <option>Assign Team..</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </c-col> -->
            <c-col [xs]="12">
                <button cButton (click)="registerPlayer()" type="submit">Register</button>
            </c-col>
        </form>
    </c-col>
    <c-col [md]="3">
        <img src="assets/img/brand/foosball1.png" width="250" height="250">
    </c-col>
</c-row>

<c-modal id="liveDemoModal" alignment="center" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)">
    <c-modal-header>
        <h4 *ngIf="visible" cModalTitle>Adding new Division</h4>
        <button (click)="toggleModalAgain()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
        <!-- <c-col [md]="4"> -->
        <label cLabel for="divisionName">Division Name</label>
        <input cFormControl id="divisionName" type="text" [(ngModel)]="selectedDivision.divisionName" [ngModelOptions]="{standalone: true}">
        <!-- </c-col> -->
    </c-modal-body>
    <c-modal-footer>

        <button (click)="toggleModalAgainAndSubmitDivision(selectedDivision)" cButton color="primary">
        Submit
      </button>
    </c-modal-footer>
</c-modal>